# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_DEBUG=1

# Change the following values for local development.
SECRET_KEY=secret-key

# Mongo connectivity
MONGODB_URI= * mongo connection string here

PORT_PROD=8000
