[
    {
      "name": "DOCKER_REGISTRY_SERVER_URL",
      "value": "https://index.docker.io/v1",
      "slotSetting": false
    },
    {
      "name": "FLASK_APP",
      "value": "todo_app/app",
      "slotSetting": false
    },
    {
      "name": "SECRET_KEY",
      "value": "secret_key",
      "slotSetting": false
    },
    {
      "name": "MONGODB_URI",
      "value": "{{MONGODB_URI}}",
      "slotSetting": false
    },
    {
      "name": "WEBSITES_ENABLE_APP_SERVICE_STORAGE",
      "value": "false",
      "slotSetting": false
    },
    {
      "name": "WEBSITES_PORT",
      "value": "{{PORT_PROD}}",
      "slotSetting": false
    }
]
