{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Yet another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">

        {% for item in view_model.todo_items %}
        <li id="{{item.id}}"><form id="form{{item.id}}" action="/completeitem/{{item.id}}" method="POST" style="display: inline;"></form><span class="todo-text" ><input type="checkbox" onchange="document.getElementById('form{{item.id}}').submit()" /> {{item.title}}</span></form></li>
        {% endfor %}
        <form action="additem" method="POST">
          <input class="todo-text" type="text" name="title"><button type="submit" name="Add" value="Add">Add</button>
        </form>
        {% for item in view_model.done_items %}
          <li id="{{item.id}}"><form id="form{{item.id}}" action="/uncompleteitem/{{item.id}}" method="POST" style="display: inline;"></form><span class="todo-text" ><input type="checkbox" checked onchange="document.getElementById('form{{item.id}}').submit()" /> {{item.title}}</span></form></li>
            {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
