{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Yet another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <form action="additem" method="POST">
          <input class="todo-text" type="text" name="title"><button type="submit" name="Add" value="Add">Add</button>
        </form>

        {% for item in view_model.todo_items %}
          <li><span class="todo-text" >{{item.status}}: {{item.title}}</span><form action="/completeitem/{{item.id}}" method="POST" style="display: inline;"><button type="submit">Done</button></form></li>
        {% endfor %}
        {% for item in view_model.done_items %}
          <li><span class="todo-text" >{{item.status}}: {{item.title}}</span>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
